In [1]:
# Dependencies and Setup
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import matplotlib as matplot

# File to Load 
demographic_to_load = "Resources/demographic.csv"
diet_to_load = "Resources/diet.csv"
examination_to_load = "Resources/examination.csv"
labs_to_load = "Resources/labs.csv"
# Med_to_load = "Resources/medications.csv"
questto_load = "Resources/questionnaire.csv"


# # Read Files and store into Pandas DataFrames 
demo_data = pd.read_csv(demographic_to_load, encoding='utf-8')
diet_data = pd.read_csv(diet_to_load, encoding='utf-8')
exam_data = pd.read_csv(examination_to_load, encoding='utf-8')
lab_data = pd.read_csv(labs_to_load, encoding='utf-8')
# Med_data = pd.read_csv(Med_to_load) 
quest_data = pd.read_csv(questto_load, encoding='utf-8')

# read the byte string as a binary file
# with open('Med_to_load', 'rb') as f:
#     byte_string = f.read()

# # decode the byte string using utf-8
# try:
#     decoded_string = byte_string.decode('utf-8')
# except UnicodeDecodeError as e:
#     print(f"Error: {e}")
#     decoded_string = byte_string.decode('latin-1', errors='ignore')

# create a DataFrame from the decoded string
# df = pd.read_csv(pd.compat.StringIO(decoded_string), encoding='utf-8')


# Combine the data into a single dataset.  
first = pd.merge(demo_data, diet_data, how="left", on=["SEQN"])
second=pd.merge(first, exam_data, how="left", on=["SEQN"])
third=pd.merge(second, lab_data, how="left", on=["SEQN"])
complete_data=pd.merge(third, quest_data, how="left", on=["SEQN"])
complete_data.head()

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,...,WHD080U,WHD080L,WHD110,WHD120,WHD130,WHD140,WHQ150,WHQ030M,WHQ500,WHQ520
0,73557,8,2,1,69,NaN,4,4,1.0,NaN,...,NaN,40.0,270.0,200.0,69.0,270.0,62.0,NaN,NaN,NaN
1,73558,8,2,1,54,NaN,3,3,1.0,NaN,...,NaN,NaN,240.0,250.0,72.0,250.0,25.0,NaN,NaN,NaN
2,73559,8,2,1,72,NaN,3,3,2.0,NaN,...,NaN,NaN,180.0,190.0,70.0,228.0,35.0,NaN,NaN,NaN
3,73560,8,2,1,9,NaN,3,3,1.0,119.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,3.0,3.0
4,73561,8,2,2,73,NaN,3,3,1.0,NaN,...,NaN,NaN,150.0,135.0,67.0,170.0,60.0,NaN,NaN,NaN

In [3]:
for col in complete_data:
   complete_data=complete_data.dropna( how='all')
complete_data.head()
# complete_data.dropna(axis=0, how='all')

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,...,WHD080U,WHD080L,WHD110,WHD120,WHD130,WHD140,WHQ150,WHQ030M,WHQ500,WHQ520
0,73557,8,2,1,69,NaN,4,4,1.0,NaN,...,NaN,40.0,270.0,200.0,69.0,270.0,62.0,NaN,NaN,NaN
1,73558,8,2,1,54,NaN,3,3,1.0,NaN,...,NaN,NaN,240.0,250.0,72.0,250.0,25.0,NaN,NaN,NaN
2,73559,8,2,1,72,NaN,3,3,2.0,NaN,...,NaN,NaN,180.0,190.0,70.0,228.0,35.0,NaN,NaN,NaN
3,73560,8,2,1,9,NaN,3,3,1.0,119.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,3.0,3.0
4,73561,8,2,2,73,NaN,3,3,1.0,NaN,...,NaN,NaN,150.0,135.0,67.0,170.0,60.0,NaN,NaN,NaN